@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}
.btnContainer {
  margin: auto;
  width: 50%;
  padding:20px;
}
form {
  margin: auto;
  width: 60%;
  padding:20px;
  margin-left: 130px;
}
.inputField {
  width:610px;
  border-radius: 4px;
  
}
.submit {
  margin-left: 20px;
}
h1 {
  color: white;
  margin: auto;
  width: 47%;
  padding:20px;
  font-size: 150px;
}
.todoAlert {
  margin-left: 150px;
  width: 50%;
  padding:40px;
  border-radius: 10px;
}
.btn-info {
  position: absolute;
  right: 10px;
  padding: 20px;
}
.btn-danger {
  position: absolute;
  right: 80px;
  padding: 20px;
}
.completeBtn {
  margin-right: 10px;
}